.ant-col {
  padding: 20px !important;
}
.ant-progress-inner {
  width: 1rem !important;
}
.progres{
  width: 200px;
}
.load-spin{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  
}