.search {
  margin: 10px;
  text-align: center;
  :global {
    .ant-input-wrapper {
      outline: none;
      border-radius: 10px;
    }

    .ant-input-search-button {
      border: black solid 1px;
      border-radius: 100px;
      background-color: black;
      width: 100px;
    }
  }
}
.searchitem {
  width: 1000px;
}
